* {
    box-sizing: border-box;
    padding: 0;
    /*margin: 0;*/
  }
  
  body {
    font-family: 'Muli', sans-serif;
    font-size: 1.2em;
    color: black;
    text-align: center;
    line-height: 1.5;
  }

  p {
    font-family: 'Muli', sans-serif;
  }

  h1 {
    font-size: 2em;
    font-family: 'Philosopher', sans-serif;
  }

  h2 {
    font-family: 'Philosopher', sans-serif;
  }

  /* LINKS */
  a {
    color: black;
    text-decoration: none;
    font-size: 1em;
  }

  a:hover {
    background-color: lightgray;
    transition: background-color .5s;
    text-decoration: none;
  }

  a:active {
    background-color: darkolivegreen;
    transition: background-color .5s;
    text-decoration: none;
  }

  .underline {
    text-decoration: underline;
  }

  /* FOOTER */
  footer {
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding: 1% 0;
    background-color: #E8E8E8;
    width: 100%;
    position: relative;
    height: 60px;
    border: 1px solid lightgrey;
    align-items: center;
  }

  .fa {
    margin: 0 5% 0 5%;
    font-size: 1em;
    width: auto;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
    color: white;
  }

  .fa-linkedin-square {
    color: black;
  }

  .fa-envelope {
    color: black;
  }

  .fa-github {
    color: black;
  }

  /* NAV */
  /* Nav menu */
  .topnav {
    overflow: hidden;
    background-color: #E8E8E8;
    color: black;
    position: relative;
    text-align: left;
    border: 1px solid lightgrey;
  }

    /* Hide links inside nav menu except for top link */
  .topnav #myLinks {
    display: none;
  }

  /* Nav menu links */
  .topnav a {
    font-family: 'Muli', sans-serif;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    display: block;
  }

  /* Hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  /* Mouseover */
  .topnav a:hover {
    background-color: darkgray;
    color: white;
    text-decoration: bold;
  }

  /* Active link */
  .active {
    background-color: lightgray; 
    text-decoration: bold;
  }

  /* HOME PAGE */
  main {
    display: flex;
    flex-direction: column;
  }

  #hero-home {
    padding: 5% 5% 0% 5%;
    background: #F5F5F5;
    background-image: url(images/MonitorKeyboard.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #hello {
    padding: 40% 15% 0% 15%;
    line-size: 1.5;
  }

  .intro {
    padding: 0% 10% 2% 10%; 
    font-size: 1em;
  }

  .codeImg {
    padding: 0;
    width: 100%;
    height: 25%;
  }

  /* ABOUT ME PAGE */
  #bio {
    font-family: 'Muli', sans-serif;
    text-align: left;
    line-height: 1.5;
  }

  #bio-header {
    padding: 5% 0 2% 0;
  }

  .bio-text {
    padding: 0 0 0 0;
  }

  #hero-glasses {
    padding: 5% 5% 5% 5%;
    background: #FFFFFE;
    background-image: url(images/Glasses.jpg);
    background-size: 45%;
    background-position: 85% 0%;
    background-repeat: no-repeat;
  }

  .lightbulbImage {
    /*height: 40%;
    width: 40%;*/
  }

  /* CONTACT PAGE */
  #hero-keyboard-mouse {
    background: #FFFFFE;
    background-image: url(images/KeyboardMouse.jpg);
    background-size: 100%;
    background-position: 120% 0%;
    background-position: top left;
    background-attachment: relative;
    background-repeat: no-repeat;
  }

  #earthImg {
    height: 400px;
  }

  #contact-section {
    font-family: 'Muli', sans-serif;
    padding: 20% 0 0 0;
  }

  #contact-item-intro {

  }

  #contact-me {
    font-size: 1.5em;
    padding: 0 0 2% 0;
  }

  .contact-item {
    text-align: center;
    font-size: 1em;
    padding: 0%;
  }


  /* PORTFOLIO PAGE */
  #portfolio-header {
    margin: 20% 0% 0% 0%;
  }

  #portfolio-intro {
    text-align: left;
    margin: 5% 5% 5% 5%;
  }

  .portfolio-text, .bullet {
    text-align: left;
    margin: 0% 5% 0% 5%;
  }

  .bullet {
    margin: 2% 5% 2% 7%;
  }

  #hero-leaf {
    padding: 5% 5% 5% 0%;
    background: #FFFFFF;
    background-image: url(images/Leaf.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }

  #dark-money {
    text-align: center;
  }
 




/* RESIZE SCREENS USING MEDIA QUERIES */
/* Very small phone screen (ex., iPhone 5/SE) */
@media only screen and (max-width: 320px) 
{

  .topnav a {
    font-size: 1.2em;
  }

  body {
    font-size: .8em;
  }

  h1 {
    font-size: 1.25em;
  }
  
  h2 {
    font-size: 1.1em;
  }

  #contact-me {
    font-size: 1em;
  }

  #intro {
    font-size: 1em;
  }

  .links {
    width: 3%;
  }

  #darkMoneyImg {
    max-height: 300px;
  }

  #codeImg {
    max-height: 180px;
  }

  #lightbulbImg {
    max-height: 150px;
  }

  #earthImg {
    height: 175px;
  }
}


/* Larger phone screen (ex., iPhone X) */
@media only screen and (min-width: 375px) and (max-width: 649px)
{

  .topnav a {
    font-size: 1.1em;
  }

  body {
    font-size: 1em;
  }

  h1 {
    font-size: 1.25em;
  }
  
  h2 {
    font-size: 1.1em;
  }

  #contact-me {
    font-size: 1.25em;
  }

  #intro {
    font-size: 1.1em;
  }

  .links {
    width: 3%;
  }

  #darkMoneyImg {
    max-height: 300px;
  }

  #codeImg {
    max-height: 300px;
  }

  #lightbulbImg {
    max-height: 200px;
  }
}

/* Tablet screens (ex., iPad) */
@media only screen and (min-width: 650) and (max-width: 799)
{

  .topnav a {
    font-size: 2em;
  }

  body {
    font-size: 1.3em;
  }

  h1 {
    font-size: 1.25em;
  }
  
  h2 {
    font-size: 1.1em;
  }

  #contact-me {
    font-size: 1.25em;
  }

  #intro {
    font-size: 1em;
  }

  #darkMoneyImg {
    max-height: 400px;
  }

  #codeImg {
    max-height: 200px;
  }

  #lightbulbImg {
    max-height: 250px;
  }
}

/* Low resolution full screens */
@media only screen and (min-width: 800) 
{

  .topnav a {
    font-size: 1.5em;
  }

  body {
    font-size: 1.2em;
  }

  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }

  #contact-me {
    font-size: 1.25em;
  }

  .contact-item {
    padding: 0% 0% 0% 0%;
  }

  #intro {
    font-size: 1em;
  }

  #darkMoneyImg {
    max-height: 800px;
  }
  
  #codeImg {
    max-height: 10px;
  }

  #lightbulbImg {
    max-height: 250px;
  }
}







